{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-5">
            {% for product in products %}
                <div class="col-3 mt-4 mb-4 d-flex justify-content-center ">
                    <div class="card" style="width: 22rem;">
                        <img src="{{ product.img }}" class="card-img-top" alt="image de {{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <a href="{{path('singleProduct', {'slug':product.slug})}}" class="btn btn-primary">Voir la fiche du produit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}  
        </div>
    
    </div>

{% endblock %}